body {
    background: linear-gradient(45deg, lightblue, coral) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: black;
    font-family: "Mukta", serif;
    font-size: 26px;
}

header {
    
}

#pagetitle {
    text-align: center;
}

aside {

}

#searchcity {

}

#cityinput {

}

#submitbtn {

}

main {

}

.hide {
    display: none;
}

#currentday {
    
}

#currentdaytitle {
    text-align: center;
}

#forecast {
    
}

#fivedaytitle {
    text-align: center;
}

#days {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.fiveday {
    text-align: center;
    margin: 10px;
    
}

.center {
    text-align: center;
    justify-content: center;
    align-items: center;
}